<!-- modal start -->
<!-- modal :: joinType start -->
<div class="modal fade" id="joinType" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2-text">회원 유형을 선택하세요</h2>
            </div>
            <div class="modal-body"
                 style="text-align: center; display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 5px">
                <form action="/users/join-form" method="post">
                    <input type="hidden" name="isEmployer" value="false">
                    <button class="btn btn-outline-primary form-control">
                        개인 회원
                    </button>
                </form>
                <form action="/users/join-form" method="post">
                    <input type="hidden" name="isEmployer" value="true">
                    <button class="btn btn-primary form-control">
                        기업 회원
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- modal :: joinType end -->
<!-- modal :: loginForm start -->
<div style="display: flex; justify-content: center">
    <div class="modal fade" id="loginForm">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="modal-header" style="text-align: center">
                        <h2>로그인</h2>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <p>아이디 입력</p>
                            <input type="text" name="username" id="username" placeholder="Enter username..."
                                   class="form-control" value="user1">
                        </div>
                        <div class="mb-3">
                            <p>비밀번호 입력</p>
                            <input type="password" name="password" id="password" value="1234"
                                   placeholder="Enter password..."
                                   class="form-control">
                        </div>
                        <!--
                        <div class="login-find">
                            <div class="login-find-select">아이디 찾기</div>
                            <div class="login-find-select">비밀번호 찾기</div>
                            <div class="login-find-select">회원가입</div>
                        </div>
                        -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal :: loginForm end -->
<!-- modal end -->