<!-- modal start -->
<!-- modal :: updateForm start -->
{{#resumeDetail}}
    <div class="modal fade" id="updateForm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/resumes/{{id}}/update" method="post">
                    <div class="modal-header card-title">
                        <h2>이력서 수정</h2>
                    </div>
                    <div class="modal-body">
                        <h4>이력서 내용</h4>
                        <hr>
                        <table class="table mb-5">
                            <tr>
                                <td>제목</td>
                                <td>
                                    <input name="title" type="text" value="{{title}}" readonly class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>자기소개서</td>
                                <td style="width: 415px">
                                <textarea name="content" class="form-control"
                                          style="height: 300px">{{content}}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>경력 정보</td>
                                <td style="width: 415px">
                                    <textarea name="career" class="form-control"
                                              style="height: 100px">{{career}}</textarea>
                                </td>
                            </tr>
                        </table>
                        <h4>보유 스킬</h4>
                        <div class="form-control mb-5">
                            {{#skillList}}
                                <btn class="btn btn-light">{{skillName}}</btn>
                            {{/skillList}}
                            {{^skillList}}
                                <btn class="btn btn-outline-light form-control">없음</btn>
                            {{/skillList}}
                        </div>
                        <h4>개인 정보</h4>
                        <hr>
                        <table class="table mb-5">
                            <tr>
                                <td>이름</td>
                                <td>
                                    {{name}}
                                </td>
                            </tr>
                            <tr>
                                <td>생년월일</td>
                                <td>
                                    {{birthdate}}
                                </td>
                            </tr>
                            <tr>
                                <td>휴대전화</td>
                                <td>
                                    {{phoneNumber}}
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td>
                                    {{email}}
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    {{address}}
                                </td>
                            </tr>
                        </table>
                        <h4>학력 정보</h4>
                        <hr>
                        <table class="table mb-5">
                            <tr>
                                <td>학력</td>
                                <td>
                                    {{educationLevel}}
                                </td>
                            </tr>
                            <tr>
                                <td>학교명</td>
                                <td>
                                    {{schoolName}}
                                </td>
                            </tr>
                            {{#major}}
                                <tr>
                                    <td>전공</td>
                                    <td>
                                        {{major}}
                                    </td>
                                </tr>
                            {{/major}}
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="button-post-cancel">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-outline-dark">수정</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/resumeDetail}}
<!-- modal :: updateForm end -->
<!-- modal :: deleteForm start -->
<div class="modal fade" id="deleteForm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">이력서 삭제</h5>
            </div>
            <div class="modal-body">
                해당 이력서를 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                <form action="/resumes/{{resumeDetail.id}}/delete" method="post">
                    <button class="btn btn-secondary">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal :: deleteForm end -->
<!-- modal end -->