{{>layout/header}}
<!-- 바디 start -->
<main class="main-card-container">
    {{#resumeDetail}}
        {{>resume/detail-sidenav-left}}
        <!-- card start -->
        <div class="card div-card">
            <div class="card-header card-title">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body" style="margin-left: 5%; margin-right: 5%">
                <h4 class="card-title">자기소개서</h4>
                <div class="form-control mb-3" style="height: 300px">{{content}}</div>
                <h4 class="card-title">경력 정보</h4>
                <div class="form-control mb-3" style="height: 100px">{{career}}</div>
                <h4 class="card-title">보유 스킬</h4>
                <div class="form-control mb-3">
                    {{#skillList}}
                        <btn class="btn btn-light">{{skillName}}</btn>
                    {{/skillList}}
                    {{^skillList}}
                        <btn class="btn btn-outline-light form-control">없음</btn>
                    {{/skillList}}
                </div>
                <h4 class="card-title">개인 정보</h4>
                <table class="table">
                    <tr>
                        <td>학교명</td>
                        <td>{{schoolName}}</td>
                    </tr>
                    {{#major}}
                        <tr>
                            <td>전공</td>
                            <td>{{major}}</td>
                        </tr>
                    {{/major}}
                    <tr>
                        <td>졸업형태</td>
                        <td>{{educationLevel}}</td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td>{{birthdate}}년 생</td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>{{address}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <table class="table table-borderless">
                    <tr>
                        <td style="background-color: transparent; text-align: end">전화</td>
                        <td style="background-color: transparent">{{phoneNumber}}</td>
                        <td style="background-color: transparent; text-align: end">이메일</td>
                        <td style="background-color: transparent">{{email}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- card end -->
        {{>resume/detail-sidenav-right}}
    {{/resumeDetail}}
</main>
<!-- 바디 end -->
{{>layout/footer}}
{{>resume/detail-modal}}