<!-- sidenav LEFT start -->
<div class="sidenav-container">
    <div class="sidenav">
        <!-- 수정 삭제 버튼 start -->
        {{#isResumeOwner}}
            <div class="mb-3"> <!-- 수정 하기 -->
                <button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#updateForm">
                    <i class="fa-regular fa-file-word icon-size"></i>
                </button>
            </div>
            <div class="mb-3"> <!-- 삭제 하기 -->
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#deleteForm">
                    <i class="fa-regular fa-trash-can icon-size"></i>
                </button>
            </div>
        {{/isResumeOwner}}
        <!-- 수정 삭제 버튼 end -->
        <!-- 구독하기 버튼 start -->
        {{^isResumeOwner}}
            {{#sessionUser.isEmployer}}
                {{^hasSubscribed}}
                    <div class="mb-3"> <!-- 구독하기 -->
                        <form action="/resumes/{{id}}/subscribe" method="post">
                            <button class="btn btn-outline-dark">
                                <i class="fa-regular fa-bookmark icon-size"></i>
                            </button>
                        </form>
                    </div>
                {{/hasSubscribed}}
                {{#hasSubscribed}}
                    <div class="mb-3"> <!-- 구독 취소 -->
                        <form action="/resumes/{{id}}/unsubscribe" method="post">
                            <input type="hidden" name="fromSubscription" value="false">
                            <button class="btn btn-outline-dark">
                                <i class="fa-solid fa-bookmark icon-size"></i>
                            </button>
                        </form>
                    </div>
                {{/hasSubscribed}}
            {{/sessionUser.isEmployer}}
        {{/isResumeOwner}}
        <!-- 구독하기 버튼 end -->
    </div>
</div>
<!-- sidenav LEFT end -->