{{>layout/header}}
<!-- 바디 start -->
<main class="main-size">
    {{>resume/listings-search-banner}}
    <hr>
    {{>resume/listings-reference}}
    <hr>
    {{>resume/listings-search-category}}
    <hr>
    <div class="div-recommendation mb-20">구직자 정보</div>
    {{#page}}
    <section class="section-body">
        <table class="table">
            <th>이름</th>
            <th>구직자 정보</th>
            <th>이력서</th>
            {{#resumeList}}
                <tr>
                    <td class="div-recommendation-text-2">{{name}}</td>
                    <td>
                        <div class="div-recommendation-text-1">{{career}}</div>
                        <div class="div-recommendation-text-2">{{title}}</div>
                    </td>
                    <td>
                        <button class="btn btn-outline-body" onclick="location.href='/resumes/{{id}}'">이력서보기
                        </button>
                    </td>
                </tr>
            {{/resumeList}}
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {{^resumeList.hasPrevious}}disabled{{/resumeList.hasPrevious}}">
                    <a class="page-link" href="?page={{resumeList.pageable.next.pageNumber}}{{#keyword}}
                    &keyword={{keyword}}{{/keyword}}{{#address}}
                    &address={{address}}{{/address}}{{#skill}}&skill={{skill}}{{/skill}}">Previous</a>
                </li>
                {{#pageList}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{.}}{{#page.keyword}}
                        &keyword={{page.keyword}}{{/page.keyword}}{{#page.address}}
                        &address={{page.address}}{{/page.address}}{{#page.skill}}
                        &skill={{page.skill}}{{/page.skill}}">{{.}}</a>
                    </li>
                {{/pageList}}
                <li class="page-item {{^resumeList.hasNext}}disabled{{/resumeList.hasNext}}">
                    <a class="page-link" href="?page={{resumeList.pageable.next.pageNumber}}{{#keyword}}
                    &keyword={{keyword}}{{/keyword}}{{#address}}
                    &address={{address}}{{/address}}{{#skill}}&skill={{skill}}{{/skill}}">Next</a>
                </li>
            </ul>
        </div>
    {{/page}}
</section>
</main>
<!-- 바디 end -->
{{>layout/footer}}