<section class="section-body" style="display: flex; justify-content: space-around">
    <div>
        <div class="div-recommendation">지역별</div>
        <a class="text-body" name="address" href="?address=서울">서울</a>
        <a class="text-body" name="address" href="?address=경기">경기</a>
        <a class="text-body" name="address" href="?address=인천">인천</a>
        <a class="text-body" name="address" href="?address=부산">부산</a>
        <a class="text-body" name="address" href="?address=대구">대구</a>
        <a class="text-body" name="address" href="?address=대전">대전</a>
        <br>
        <a class="text-body" name="address" href="?address=경남">경남</a>
        <a class="text-body" name="address" href="?address=전남">전남</a>
        <a class="text-body" name="address" href="?address=충남">충남</a>
        <a class="text-body" name="address" href="?address=광주">광주</a>
        <a class="text-body" name="address" href="?address=울산">울산</a>
        <a class="text-body" name="address" href="?address=경북">경북</a>
        <br>
        <a class="text-body" name="address" href="?address=전북">전북</a>
        <a class="text-body" name="address" href="?address=충북">충북</a>
        <a class="text-body" name="address" href="?address=강원">강원</a>
        <a class="text-body" name="address" href="?address=제주">제주</a>
        <a class="text-body" name="address" href="?address=세종">세종</a>
    </div>
    <div>
        <div class="div-recommendation">기술별</div>
        <a class="text-body" name="skill" href="?skill=java">Java</a>
        <a class="text-body" name="skill" href="?skill=javaScript">JavasSript</a>
        <a class="text-body" name="skill" href="?skill=Spring">Spring</a>
        <a class="text-body" name="skill" href="?skill=HTML">HTML</a>
        <a class="text-body" name="skill" href="?skill=jQuery">JQuery</a>
        <br>
        <a class="text-body" name="skill" href="?skill=MySQL">MySQL</a>
        <a class="text-body" name="skill" href="?skill=Flutter">Flutter</a>
        <a class="text-body" name="skill" href="?skill=React">React</a>
        <a class="text-body" name="skill" href="?skill=AWS">AWS</a>
        <a class="text-body" name="skill" href="?skill=C">C</a>
        <a class="text-body" name="skill" href="?skill=Basic">Basic</a>
        <br>
        <a class="text-body" name="skill" href="?skill=Flutter">Flutter</a>
        <a class="text-body" name="skill" href="?skill=Python">Python</a>
        <a class="text-body" name="skill" href="?skill=Linux">Linux</a>
        <br>
    </div>
</section>