<section class="section-body">
    <div class="div-recommendation mb-20">추천 채용 정보</div>
    <div class="div-recommendation-img">
        {{#page.recommendationList}}
            <div onclick="location.href='/boards/{{boardId}}'">
                <img class="div-recommendation-img-0" src="../images/{{businessName}}.jpg"
                     alt="/images/business.png" style="width:100%">
                <div class="div-recommendation-text-1">{{field}}
                    <span><i class="fa-regular fa-star"></i></span>
                </div>
                <div class="div-recommendation-text-2">{{businessName}}</div>
            </div>
        {{/page.recommendationList}}
        <!--
        <div>
            <div class="div-recommendation-img-1"></div>
            <div class="div-recommendation-text-1">IT,컨텐츠
                <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
            </div>
            <div class="div-recommendation-text-2">아이헤이트플라잉버그스</div>
        </div>
        <div>
            <div class="div-recommendation-img-2"></div>
            <div class="div-recommendation-text-1">제조
                <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
            </div>
            <div class="div-recommendation-text-2">한솔테크닉스</div>
        </div>
        <div>
            <div class="div-recommendation-img-3"></div>
            <div class="div-recommendation-text-1">IT,컨텐츠
                <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
            </div>
            <div class="div-recommendation-text-2">대보정보통신</div>
        </div>
        -->
    </div>
</section>