<!-- 검색 배너 start -->
<section class="section-body">
    <div class="search-box-banner">
        <div class="search-box">
            <div style="width: 50%">
                <form action="/boards" method="get" class="form-inline">
                    <div class="input-group rounded">
                        <input id="searchInput" type="text" name="keyword"
                               placeholder="채용 정보를 입력하세요.."
                               class="form-control rounded-end"
                               style="background: transparent; color: white"
                               required/>
                        <button type="submit" style="text-align: end">
                            <i class="fa-solid fa-magnifying-glass icon-search"
                               style="right: 30px; color: white"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- 검색 배너 end -->