{{>layout/header}}
<!-- 바디 start -->
<main class="main-size">
    {{>board/listings-search-banner}}
    <hr>
    {{>board/listings-recommendation}}
    <hr>
    {{>advertisement}}
    <hr>
    {{>board/listings-search-category}}
    <hr>
    <!-- 채용 공고 리스트 start -->
    <section class="section-body">
        {{#page}}
            <div class="container">
                <br>
                <div class="div-recommendation mb-20">채용 정보</div>
                <table class="table">
                    <th>지역</th>
                    <th>회사명</th>
                    <th>공고 제목</th>
                    <th>급여 정보</th>
                    <th>마감일</th>
                    {{#boardList}}
                        <tr>
                            <td>{{address}}</td>
                            <td><a href="/boards/{{id}}" class="text-body">{{businessName}}</a></td>
                            <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                            <td>{{salary}}</td>
                            <td>{{closingDate}}</td>
                        </tr>
                    {{/boardList}}
                </table>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item {{^boardList.hasPrevious}}disabled{{/boardList.hasPrevious}}">
                            <a class="page-link" href="?page={{boardList.pageable.next.pageNumber}}{{#keyword}}
                            &keyword={{keyword}}{{/keyword}}{{#address}}
                            &address={{address}}{{/address}}{{#skill}}&skill={{skill}}{{/skill}}">Previous</a>
                        </li>
                        {{#pageList}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{.}}{{#page.keyword}}
                                &keyword={{page.keyword}}{{/page.keyword}}{{#page.address}}
                                &address={{page.address}}{{/page.address}}{{#page.skill}}
                                &skill={{page.skill}}{{/page.skill}}">{{.}}</a>
                            </li>
                        {{/pageList}}
                        <li class="page-item {{^boardList.hasNext}}disabled{{/boardList.hasNext}}">
                            <a class="page-link" href="?page={{boardList.pageable.next.pageNumber}}{{#keyword}}
                            &keyword={{keyword}}{{/keyword}}{{#address}}
                            &address={{address}}{{/address}}{{#skill}}&skill={{skill}}{{/skill}}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        {{/page}}
    </section>
    <!-- 채용 공고 리스트 end -->
</main>
<!-- 바디 end -->
{{>layout/footer}}