{{>layout/header}}
<!-- 바디 start -->
<main class="main-card-container">
    <div class="card div-card">
        <form action="/boards/post" method="post">
            <div class="card-header card-title">
                <h2>채용 공고 추가</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>공고 제목</td>
                        <td><input name="title" type="text" class="form-control" value="열정만으로 일하는 인재를 원합니다."></td>
                    </tr>
                    <tr>
                        <td>채용 분야</td>
                        <td>
                            <input name="field" type="text" class="form-control" value="개발">
                        </td>
                    </tr>
                    <tr>
                        <td>포지션</td>
                        <td>
                            <input name="position" type="text" class="form-control" value="백엔드">
                        </td>
                    </tr>
                    <tr>
                        <td>업무 상세</td>
                        <td>
                            <textarea name="content" class="form-control" style="height: 300px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>연봉</td>
                        <td>
                            <input name="salary" type="text" class="form-control" value="연봉협의">
                        </td>
                    </tr>
                    <tr>
                        <td>게시일</td>
                        <td>
                            <input name="openingDate" type="date" class="form-control" value="2024-03-28">
                        </td>
                    </tr>
                    <tr>
                        <td>마감일</td>
                        <td>
                            <input name="closingDate" type="date" class="form-control" value="2024-03-29">
                        </td>
                    </tr>
                </table>
                <br>
                <h4 class="card-title">요구 스킬</h4>

                <div class=form-control style="display: flex; justify-content: space-evenly">
                    <table class="table">
                        <tr>
                            <td><input type="checkbox" name="skill" value="java" checked><span>Java</span></td>
                            <td><input type="checkbox" name="skill" value="javaScript"><span>JavaScript</span></td>
                            <td><input type="checkbox" name="skill" value="Spring"><span>Spring</span></td>
                            <td><input type="checkbox" name="skill" value="HTML"><span>HTML</span></td>
                            <td><input type="checkbox" name="skill" value="jQuery"><span>JQuery</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="skill" value="MySQL" checked><span>MySQL</span></td>
                            <td><input type="checkbox" name="skill" value="Flutter"><span>Flutter</span></td>
                            <td><input type="checkbox" name="skill" value="React"><span>React</span></td>
                            <td><input type="checkbox" name="skill" value="AWS"><span>AWS</span></td>
                            <td><input type="checkbox" name="skill" value="C"><span>C</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="skill" value="Basic"><span>Basic</span></td>
                            <td><input type="checkbox" name="skill" value="Python"><span>Python</span></td>
                            <td><input type="checkbox" name="skill" value="Linux"><span>Linux</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="card-footer">
                <div class="button-post-cancel">
                    <button type="button" onclick="location.href='/'" class="btn btn-outline-dark">취소</button>
                    <button type="submit" class="btn btn-outline-dark">등록</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- 바디 end -->
{{>layout/footer}}