<!--내 이력서 보기-->
<div class="div-layout">
    <div class="div-header d-flex justify-content-between">
        <h2><b>나의 이력서</b></h2>
        <form action="/resumes/post-form" method="get">
            <button class="btn btn-primary">추가</button>
        </form>
    </div>
    <div class="div-resume">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <td>제목</td>
                <td>게시일자</td>
                <td></td>
            </tr>
            {{#resumeList}}
                <tr onclick="location.href='/resumes/{{id}}'">
                    <td>{{ogTitle}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <div style="display: flex; justify-content: center">
                            <form action="/users/{{sessionUser.id}}/resumes/{{id}}" method="get">
                                <button class="btn btn-primary">지원 현황</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {{/resumeList}}
        </table>
    </div>
</div>