<div class="div-layout" style="min-height: 600px">
    <div class="d-flex justify-content-between">
        <h5>안녕하세요, {{sessionUser.name}}님</h5>
        <div style="display: flex; justify-content: space-evenly; width: 150px">
            <!-- 회원 정보 수정 -->
            <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#updateForm">
                <i class="fa-solid fa-user-pen icon-size"></i>
            </button>
            <!-- 탈퇴 하기 -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#deleteForm">
                <i class="fa-solid fa-user-xmark icon-size"></i>
            </button>
        </div>
    </div>
    <div class="div-information">
        <div class="div-information-grid">
            <div class="card mt-5" style="width:200px">
                {{#rating}}
                    <table class="table borderless">
                        <tr>
                            <td style="text-align: end; padding-bottom: 0; padding-top: 0">평점 ⭐</td>
                            <td style="text-align: start; padding-bottom: 0; padding-top: 0">{{rating}}</td>
                        </tr>
                    </table>
                {{/rating}}
                {{#isEmployer}}
                    <div>
                        {{#pic}}
                            <img class="card-img" src="/upload/{{imgFilename}}" style="width:100%;">
                        {{/pic}}
                        {{^pic}}
                            <img class="card-img" src="/../images/{{businessName}}.jpg"
                                 alt="/images/business.png" style="width:100%;">
                        {{/pic}}
                    </div>
                    <div class="card-body">
                        <h4>{{businessName}}</h4>
                    </div>
                    <div class="card-footer">
                        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 10px">
                            {{#pic}}
                                <form action="/deleteImg" method="post">
                                    <input type="hidden" name="userId" value="{{pic.userId}}">
                                    <button class="btn btn-primary">삭제</button>
                                </form>
                            {{/pic}}
                            {{^pic}}
                                <form action="/post-form/{{sessionUser.id}}" method="get">
                                    <button class="btn btn-outline-primary">
                                        <i class="fa-solid fa-plus icon-size"></i>
                                    </button>
                                </form>
                            {{/pic}}
                        </div>
                    </div>
                {{/isEmployer}}
                {{^isEmployer}}
                    {{#pic}}
                        <img class="card-img" src="/upload/{{imgFilename}}" style="width:100%">
                    {{/pic}}
                    {{^pic}}
                        <img class="card-img" src="/../images/avatar.png" style="width:100%">
                    {{/pic}}
                    <div class="card-body">
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-footer">
                        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 10px">
                            {{^pic}}
                                <form action="/upload-form/{{id}}" method="get"> <!-- 사진 등록 -->
                                    <button class="btn btn-primary">
                                        <i class="fa-solid fa-plus icon-size"></i>
                                    </button>
                                </form>
                            {{/pic}}
                            {{#pic}}
                                <form action="/deleteImg" method="post"> <!-- 사진 삭제 -->
                                    <input type="hidden" name="userId" value="{{userPic.userId}}">
                                    <button class="btn btn-outline-primary">
                                        <i class="fa-solid fa-minus icon-size"></i>
                                    </button>
                                </form>
                            {{/pic}}
                        </div>
                    </div>
                {{/isEmployer}}
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                {{#isEmployer}}
                    <tr>
                        <th><h3>기업정보</h3></th>
                    </tr>
                {{/isEmployer}}
                {{^isEmployer}}
                    <tr>
                        <th><h3>개인정보</h3></th>
                    </tr>
                {{/isEmployer}}
                </thead>
                <tbody>
                <tr>
                    <th>아이디</th>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td>{{birthdate}}</td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>{{gender}}</td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td>{{phoneNumber}}</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>{{address}}</td>
                </tr>
                <tr>
                    <th>E-MAIL</th>
                    <td>{{email}}</td>
                </tr>
                {{#isEmployer}}
                    <tr>
                        <th>사업자번호</th>
                        <td>{{employerIdNumber}}</td>
                    </tr>
                    <tr>
                        <th>회사명</th>
                        <td>{{businessName}}</td>
                    </tr>
                {{/isEmployer}}
                {{^isEmployer}}
                    <tr>
                        <th>학력</th>
                        <td>{{educationLevel}}</td>
                    </tr>
                    <tr>
                        <th>학교명</th>
                        <td>{{schoolName}}</td>
                    </tr>
                    {{#major}}
                        <tr>
                            <th>전공</th>
                            <td>{{major}}</td>
                        </tr>
                    {{/major}}
                {{/isEmployer}}
                </tbody>
            </table>
            {{^isEmployer}}
                <div class="form-control">
                    <div class="mb-3" style="display: flex; justify-content: space-between">
                        <div>
                            <b>보유 기술 스택</b>
                        </div>
                        {{#hasSkill}}
                            <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#skillForm">수정
                            </button>
                        {{/hasSkill}}
                    </div>
                    <div>
                        {{#skillList}}
                            <span class="btn btn-light">{{skillName}}</span>
                        {{/skillList}}
                        {{^hasSkill}}
                            <button class="btn btn-outline-primary form-control" data-bs-toggle="modal"
                                    data-bs-target="#skillForm">추가하기
                            </button>
                        {{/hasSkill}}
                    </div>
                </div>
            {{/isEmployer}}
        </div>
    </div>
</div>