<h2 style="text-align: center">이력서 구독 정보</h2>
<hr>
<table class="table">
    <tr>
        <th>생년월일</th>
        <th>이름</th>
        <th style="text-align: start">이력서 제목</th>
        <th>EMAIL</th>
        <th></th>
    </tr>
    {{#subscription}}
        {{#page.content}}
            <tr>
                <td>{{birthdate}}</td>
                <td>{{resumeUserName}}</td>
                <td style="text-align: start">
                    <a href="/resumes/{{resumeId}}">{{title}}</a>
                </td>
                <td>{{email}}</td>
                <td>
                    <form action="/resumes/{{resumeId}}/unsubscribe" method="post">
                        <input type="hidden" name="fromSubscription" value="true">
                        <button class="btn btn-danger">구독 취소</button>
                    </form>
                </td>
            </tr>
        {{/page.content}}
    {{/subscription}}
</table>