<h2 style="text-align: center">공고 구독 정보</h2>
<hr>
<table class="table">
    <tr>
        <th>지역</th>
        <th>회사명</th>
        <th style="text-align: start">공고 정보</th>
        <th>급여 정보</th>
        <th>마감일</th>
        <th></th>
    </tr>
    {{#subscription}}
        {{#page.content}}
            <tr>
                <td>{{address}}</td>
                <td>{{businessName}}</td>
                <td style="text-align: start">
                    <div class="div-recommendation-text-1">채용 분야 : {{field}}</div>
                    <a href="/boards/{{boardId}}" class="div-recommendation-text-2">{{title}}</a>
                </td>
                <td>{{salary}}</td>
                <td>{{closingDate}}</td>
                <td>
                    <form action="/boards/{{boardId}}/unsubscribe" method="post">
                        <input type="hidden" name="fromSubscription" value="true">
                        <button class="btn btn-danger">구독 취소</button>
                    </form>
                </td>
            </tr>
        {{/page.content}}
    {{/subscription}}
</table>
</div>